# venv
venv_tcc/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# CSVs
data/*.csv
data/processed

# Temp
*.log
*.tmp
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
